<div *ngIf="selectedCard">
  <p>{{selectedCard.name}}</p>
  <img class="card-art" src="{{selectedCard.image_uris.large}}" alt="{{selectedCard.name}}">
  <p>{{selectedCard.mana_cost}}</p>
  <p>{{selectedCard.type_line}}</p>
  <p>{{selectedCard.oracle_text}}</p>
  <p *ngIf="selectedCard.power">{{selectedCard.power}}/{{selectedCard.toughness}}</p>
  <p *ngIf="selectedCard.loyalty">{{selectedCard.loyalty}} Loyalty</p>
  <p>Count: {{selectedCard.count.length}}</p>
  <button (click)="addCopy()">Add Copy</button>
  <button (click)="removeCopy()">Remove Copy</button>
</div>